*{
	
}
.mobile-menu,
.responsive-menu{
	display: none;
}
.hide{
	display: none!important;
}
.fLeft{
	float: left;
}
.fRight{
	float: right;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}
.txt-greenlight{	
	color: #92b75c;
}
.txt-bold{
	font-weight: bold;
}
.inline-block{
	display: inline-block;
}

.container-fluid{padding: 0!important;}


/* HEADER */
.subheader{
	background-color: #000000;
	color: #bdbdbd;
	font-size: 14px;
	padding: 10px 0;
}
.subheader-content{
	float: left;
	width: 100%;
}
.subheader-logo{
	margin-right: 20px;
}
.header-item{
	padding: 0 20px;
	text-transform: uppercase;
}
.subheader-social{
	margin-left: 20px;
}
.subheader-socialitem{
	padding: 0 10px;
}

.bodyheader{
	background-color: #FFFFFF;
	color: #656464;
	font-size: 14px;
	padding: 30px 0;
}
.bodyheader .longomatch-logo{
	max-height: 30px;
}
.bodyheader .newRelease .text-newrelease-top{
	font-size: 26px !important;
	line-height: 2px !important;
	width: 100px;
	text-align: center;
}
.bodyheader .newRelease .text-newrelease-bottom{
	position: absolute;
	top: 10px;
	width: 100px;
	text-align: center;
}


/* MOBILE HEADER */
.mobile-menu{
	color: #656464;
	font-size: 20px;
}

.responsive-menu{
	background-color: #262626;
	color: #FFFFFF;
	z-index: 1;
	bottom: 0;
	left: auto;
	right: 0;
	top: 0;
	position: fixed;
	text-transform: uppercase;
	/*width: 80%;*/
	width: 0px;
	max-width: 440px;
	padding: 20px;
	overflow: hidden;
	transition: .7s;
}
.responsive-menu .responsive-longomatch-logo{
	max-height: 40px;
	margin-bottom: 20px;
}
.responsive-menu-item{
	width: 100%;
}
.responsive-menu-item:nth-child(1n+2){
	line-height: 20px;
	padding: 10px 0;
}
.responsive-menu-item.separator{
	border-bottom: 2px solid #1d1d1d !important;
	padding: 0;
	margin: 15px 0;
}
.responsive-menu-item .fab{
	color: #bdbdbd;
}
.responsive-menu-item .fab:first-child{
	margin-right: 10px;
}

/* RESPONSIVE */
@media only screen and (max-width: 991px){
	.subheader,
	.bodyheader-right{
		display: none;
	}
	.mobile-menu,
	.responsive-menu{
		display: block;
	}
}