body{
	color: #444444!important;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif!important;
	font-size: 12px!important;
}
a{
	color: inherit!important;
}
a:hover{
	text-decoration: none!important;
	opacity: .8;
}
.mobile-menu,
.responsive-menu{
	display: none;
}
.hide{
	display: none!important;
}
.fLeft{
	float: left;
}
.fRight{
	float: right;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}
.txt-greenlight{	
	color: #92b75c;
}
.txt-bold{
	font-weight: bold;
}
.inline-block{
	display: inline-block;
}
.hard-shadowed{
	text-shadow: 0 6px 6px rgba(0, 0, 0, 0.8);
}

.container-fluid{padding: 0!important;}


/* HEADER */
.subheader{
	background-color: #000000;
	color: #969696;
	font-size: 14px;
	padding: 10px 0;
}
.subheader-content{
	float: left;
	width: 100%;
}
.subheader-logo{
	margin-right: 20px;
}
.header-item{
	padding: 0 20px;
	text-transform: uppercase;
}
.subheader-social{
	margin-left: 20px;
}
.subheader-socialitem{
	padding: 0 10px;
}

.bodyheader{
	background-color: #FFFFFF;
	color: #656464;
	font-size: 14px;
	padding: 30px 0;
	line-height: 30px;
}
.bodyheader .longomatch-logo{
	max-height: 30px;
}
.bodyheader .newRelease .text-newrelease-top{
	font-size: 26px !important;
	line-height: 2px !important;
	width: 100px;
	text-align: center;
}
.bodyheader .newRelease .text-newrelease-bottom{
	position: absolute;
	top: 10px;
	width: 100px;
	text-align: center;
}


/* MOBILE HEADER */
.mobile-menu{
	color: #656464;
	font-size: 20px;
}

.responsive-menu{
	background-color: #262626;
	color: #FFFFFF;
	z-index: 9;
	bottom: 0;
	left: auto;
	right: 0;
	top: 0;
	position: fixed;
	text-transform: uppercase;
	/*width: 80%;*/
	width: 0px;
	max-width: 440px;
	padding: 20px;
	overflow: hidden;
	transition: .7s;
}
.responsive-menu .responsive-longomatch-logo{
	max-height: 40px;
	margin-bottom: 20px;
}
.responsive-menu-item{
	width: 100%;
}
.responsive-menu-item:nth-child(1n+2){
	line-height: 20px;
	padding: 10px 0;
}
.responsive-menu-item.separator{
	border-bottom: 2px solid #1d1d1d !important;
	padding: 0;
	margin: 15px 0;
}
.responsive-menu-item .fab{
	color: #bdbdbd;
}
.responsive-menu-item .fab:first-child{
	margin-right: 10px;
}

/* HEADER RESPONSIVE */
@media only screen and (max-width: 991px){
	.subheader,
	.bodyheader-right{
		display: none;
	}
	.mobile-menu,
	.responsive-menu{
		display: block;
	}
}



/* HOME PARALLAX */
.home-parallax-container{
	background: url(../images/longomatch-slider-football.jpg) center bottom / cover no-repeat fixed;
	height: calc(100vh - 108px);
	overflow: hidden;
	position: relative;
}

.home-parallax-text{
	color: #FFFFFF;
	position: absolute;
	top: 30%;
	z-index: 1;
	width: 100%;
}

.home-parallax-text-title{
	text-align: center;
	padding: 0 20px;
	color: #FFFFFF;
	z-index: 0;
	margin-bottom: 15px;
	font-size: 53px;
}
.home-parallax-text-desc{
	text-align: center;
	padding: 0 20px;
	color: #FFFFFF;
	z-index: 0;
	margin-bottom: 15px;
	font-size: 18px;
}
.home-parallax-text-playvideo{
	text-align: center;
	padding: 0 20px;
	color: #FFFFFF;
	z-index: 0;
	margin-top: 50px;
	font-size: 18px;
	height: 54px;
}
.home-parallax-text-playvideo .icon-play{
	font-size: 30px;
	margin-right: 10px;
	vertical-align: middle;
}
.home-parallax-text-playvideo .txt-watch{
	display: inline-block;
	vertical-align: middle;
}




/* FOOTER */
footer{
	background-color: #2b2b2b;
}
footer ul{
	margin: 0;
}
.top-bar-footer{
	background-color: #0d0d0d;
}
.top-bar-footer-content{
	padding: 10px 0;
	width: 100%;
}
.top-bar-footer-content li{
	text-transform: uppercase;
	padding-right: 20px;
	color: #969696;
	font-size: 14px;
}

.footer-content{
	padding: 80px 0;
}
.footer-logo{
	max-height: 60px;
	width: auto;
	display: inline-block;
}
.footer-content ul{
	padding: 0;
	margin-left: 100px;
	vertical-align: middle;
	display: inline-block;
}
.footer-content li{
	text-transform: uppercase;
	padding-right: 20px;
	color: #FFFFFF;
	font-size: 14px;
	display: inline-block;
}

.subfooter{
	background-color: #2b2b2b;
	min-height: 30px;
	border-top: 1px solid #4d4d4d;
	color: #969696;
	text-align: center;
	padding: 20px 0;
	font-size: 12px;
}
.subfooter a{
	color: #969696;
	text-decoration: underline;
}
.subfooter a:hover{
	text-decoration: underline!important;
}


/* FOOTER RESPONSIVE */
@media only screen and (max-width: 991px){
	.top-bar-footer{
		display: none;
	}

	.footer-content{
		padding: 40px 0;
	}
	.footer-content .footer-logo{
		text-align: center;
		margin: auto;
		display: block;
	}
	.footer-content ul{
		display: block;
		text-align: center;
		margin: 0;
		margin-top: 20px;
	}
	/*.footer-content li{
		display: block;
	}*/
}

@media only screen and (max-width: 768px){
	.footer-content li{
		display: block;
		padding: 10px 0;
	}
}