*{
	
}
.fLeft{
	float: left;
}
.fRight{
	float: right;
}

.container-fluid{padding: 0!important;}

.subheader{
	background-color: #000000;
	color: #FFFFFF;
	padding: 10px 0;
}

.subheader-content{
	float: left;
	width: 100%;
}

.subheader-logo{
	margin-right: 20px;
}
.subheader-item{
	padding: 0 20px;
}
.subheader-social{
	margin-left: 20px;
}
.subheader-socialitem{
	padding: 0 10px;
}

